body {
  width: 100%;
  font-family: "Times New Roman";
  font-size: 16px; }

.clear {
  clear: both; }

h1, h4, p, ul, ol, h5, pre, code {
  margin: 10px 0px; }

pre, code {
  white-space: pre-wrap;
  display: block;
  font-family: monospace;
  margin-left: 20px; }
  pre code, code code {
    margin: 0; }

h1 a {
  font-size: 30px; }

h2 a {
  font-size: 24px; }

h5 {
  font-size: 18px;
  margin-top: 15px; }

hr {
  border-style: inset;
  border-width: 1px;
  border-color: white; }

h1 a, h2 a, h3 a {
  color: #ff4444;
  text-decoration: none; }

.date {
  font-size: 16px; }

#wrapper {
  width: 920px;
  margin: 0 auto; }
  #wrapper #content {
    width: 600px;
    float: left; }
  #wrapper #sidebar {
    width: 280px;
    float: right; }
  #wrapper .vsplit {
    float: left;
    height: 800px;
    margin: 0 15px;
    border-style: inset;
    border-width: 1px;
    border-color: white; }

ul li {
  list-style: disc; }
  ul li ul li {
    list-style: circle; }

.recent-posts {
  width: 100%; }
  .recent-posts ul {
    padding-left: 25px; }
    .recent-posts ul li {
      margin-left: 0px; }
  .recent-posts h2 {
    display: inline-block;
    float: left; }
  .recent-posts .rss {
    margin-top: 10px;
    display: inline-block;
    float: right; }

h4.tags {
  margin: 10px 0;
  float: right; }
  h4.tags a {
    margin: 0 10px;
    color: black; }

.header .title {
  float: left; }
.header .pages {
  margin: 35px 0 35px 120px;
  float: left; }
  .header .pages a {
    padding: 0 20px; }
.header .avatar {
  margin-top: 15px;
  float: right; }
  .header .avatar img {
    width: 64px;
    height: 64px; }
.header hr {
  margin: 5px 0 10px 0; }

.tag-cloud a {
  margin: 0 2px;
  color: black; }

.footer {
  padding: 10px 0;
  margin: 0 auto;
  width: 100%; }

.post hr {
  margin: 15px 0 25px 0; }

.paginator .next {
  float: right; }
.paginator .prev {
  float: left; }
