<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Unstoppable Website
    %meta{:content => "", :name => "description"}/
    %meta{:content => "Bogdan Gusiev", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "http://lab.hakim.se/reveal-js/css/reveal.css", :rel => "stylesheet"}/
    %link{:href => "https://rawgithub.com/hakimel/reveal.js/master/css/theme/white.css", :rel => "stylesheet"}/
    / For syntax highlighting
    %link{:href => "http://lab.hakim.se/reveal-js/lib/css/zenburn.css", :rel => "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = "https://revealjs.com/css/print/" + (window.location.search.match( /print-pdf/gi ) ? 'pdf.css' : 'paper.css');
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    :sass
      body .reveal
        font-size: 30px !important
      .yellow
        color: yellow
      .reveal
        section
          pre
            code
              padding: 20px 5px
              font-size: 1.30em
              line-height: 1.3em
          ul
            min-width: 50%
          .red
            color: #e02c2d
          .green
            color: #17cc1e
          .yellow
            color: yellow
          .blue
            color: #1b91ff
          .left
            float: left
          .right
            float: right
          .clearfix
            overflow: hidden
          table.full-border
            border-collapse: collapse
            td
              border: 1px solid black !important
          img
            border: 0px
            box-shadow: 0 0 0 0
      
          code
            &.line-numbers
              counter-reset: line_numbers
            span
              &.line-number
                counter-increment: line_numbers
                margin-right: 1em
                &:before
                  content: counter(line_numbers, decimal-leading-zero)
                  color: gray
              &.highlight-line:before
                color: yellow
          
        
  %body
    .reveal
      .slides
        %section
          %h1
            Blockchain Team
          %h2
            May 2019
        %section
          %h2 Sections
          
          %ul
            %li Q1 results
            %li Q2 plans
            %li Technical strategy

        %section
          %h2 Q1 results

          %ul
            %li Resolution library
            %li Transaction processor (TXP)
            %li My Transactions

        %section
          %h2 TXP

          %ul
            %li Funding issues
            %li Performance problem
            %li Rejected Transactions
            %li Stack transactions
        %section
          %h2 TXP performance

          %ul
            %li.fragment Detected peak of 1000 ETH TXs per 20 minutes
            %li.fragment 
              Limited by number of worker accounts
              %ul
                %li ZIL - 150
                %li ETH - 299

        %section
          %h2 Transactions per day

          <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRVb5gW6d2VN5D94pK_2kpyTFqxUIytIx-umDSlLffdIj8ZRwIz1X1ux03uIrxeEQ8wzC341lBrfzQg/pubchart?oid=943092356&amp;format=image"></iframe>

        %section
          %h2 TXP Usage by users

          <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRVb5gW6d2VN5D94pK_2kpyTFqxUIytIx-umDSlLffdIj8ZRwIz1X1ux03uIrxeEQ8wzC341lBrfzQg/pubchart?oid=288045493&amp;format=image"></iframe>

        %section
          %h2 TX completion time

          <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRVb5gW6d2VN5D94pK_2kpyTFqxUIytIx-umDSlLffdIj8ZRwIz1X1ux03uIrxeEQ8wzC341lBrfzQg/pubchart?oid=2031729989&amp;format=image"></iframe>

          .fragment
            %h3 Percentage of TX completed in time frame
            %img{src: "https://monosnap.com/file/vsiq3VEMawESs6hFzQ0cKwGHaPtVCh.png"}
        %section
          %h2 TXP errors
          %pre
            %code.text{style: 'font-size: 0.8em'}
              :preserve
                 Type |                     Message                       |  #  | Last seen  | Resolution
                ------+---------------------------------------------------+-----+------------+------------ 
                 ETH  | Eth call reverted: ERC721: token already minted   |   5 | 2020-04-07 | ? Fixed
                 ETH  | Unable to estimate gas: Returned error: gas requi |   6 | 2020-04-06 | ? Pending
                 ETH  | Unknown Ethereum network rejection reason         |  20 | 2020-04-05 | ? Unfixable
                 ZIL  | Transaction threw an error event: Sender admin    |   6 | 2020-04-01 | ? Fixed
                 ETH  | Parent transaction was rejected                   |   1 | 2020-03-29 |   Unfixable
                 ZIL  | Rejected by network. Error codes: 7               |  71 | 2020-03-23 |   Fixed
                 ZIL  | The account nonce in signature is incorrect       |   4 | 2020-03-22 |   Fixed
                 ETH  | Unable to estimate gas: Invalid JSON RPC response |   1 | 2020-03-22 |   Fixed
                 ZIL  | Rejected by zilliqa by unknown reason             |  10 | 2020-03-20 |   Fixed
                 ETH  | Eth signature error: Returned error: gas required |  26 | 2020-03-17 |   Fixed
                 ZIL  | Unable to verify transaction                      | 107 | 2020-03-11 |   Fixed
                 ETH  | Unknown                                           |   3 | 2020-03-10 |   Fixed
                 ETH  | Eth signature error: request to https://ethgassta |   1 | 2020-03-05 |   Fixed
                 ZIL  | [{"type":"String","value":"Sender not node owner, |   1 | 2020-03-02 |   Fixed
        %section
          %h2 TXP Stack transactions

          %ul
            %li 
              %s Record update status replication 
            %li 
              %s TX group removal
            %li 
              %s Domain owner address update
            %li 
              %s Ignoring errors
            %li 
              %s Registry mirror bugs
          %ul
            %li TX takes too long to execute
            %li Bull Queue bug (?)
        %section

          %h3 Questions
          
        %section

          %h3 Q2 Priorities

          %ul
            %li Remove UD operator
            %li Introduce new .crypto resolver
            %li Protect admin keys
            %li Stability
            %li Mozilla domain resolution (?)
            %li Subdomains support (?)

        %section

          %h2 Remove UD operator

          %p
            Hacker attack led us to the conclusions
          .fragment
            %h4 No domains should be managed 
            %h4 without user singing a transaction

        %section
          %h2 New .crypto resolver

          %ul
            %li Track custom records
            %li Query all records set for domain
            %li Reduce number of TXs for certain operations
        %section
          %h2 Protect Admin keys

          %h4 Current problems
          %ul
            %li Leaking keys problem
            %li Sneaky bestow premium domains problem

          .fragment
            %br
            %h4 Possible solutions

            %ol
              %li Restrict permission of worker accounts
              %li Monitor all permission changes on contracts
              %li Rotate keys periodically
              %li Limit number of operations one key can do
              %li Make 3rd party Txs identifiable

        %section
          %h2 Stability

          %h3 99.99% yearly uptime goal 
          %h3 for resolution API
          %h2 8 hours downtime a year

          .fragment
            %h3 Reasons
            %ul
              %li Hosting downtimes
              %li Human error

        %section
          %h3 Hosting downtimes

          %ol
            %li Servers go down randomly
            %li Failed deploys
          %br
          %h3.fragment Either we switch hosting platform
          %h3.fragment Or it will be magically solved

        %section
          %h3 Human Error

          %ul
            %li Ensure all key endpoints are tested
            %li Make green CI a must to deploy

        %section

          %h3 Questions

        %section
          %h3 Technical Strategy:

          %h2 Inevitable Success

          %ol.fragment
            %li Know your customer
            %li Follow the rules

        %section
          %h3 Know your customer

          %ol
            %li Consumer
            %li Domain Owner
            %li Reseller
            %li UD Employee

        %section
          %h3 Consumer

          %ul
            %li Crypto Payments from wallets
            %li Unstoppable Browser
            %li Chrome Extension
            %li Chat
        %section
          %h3 Domain Owner
          %ul
            %li E-Commerce
            %li Domain Management
            %li Mobile Application
        %section
          %h3 Reseller
          %ul
            %li Reseller API
            %li Reseller admin portal
        %section
          %h3 Employee
          %ul
            %li Admin Panel
        %section
          %h3 How one sees the data?
          %img.fragment{src: "https://i.pinimg.com/564x/00/38/e0/0038e07550d3b40ed63c127e2ee0df3c.jpg"}
        %section
          %h3 Follow Fundamental Rules
          
          %ol
            %li.fragment Software needs to do whatever it needs to do
            %li.fragment Model the reality
            %li.fragment Build a framework
            -# %li.fragment Track Dependencies
            
    %script{:src => "https://revealjs.com/js/reveal.js"}
    :javascript
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      	controls: true,
      	progress: true,
      	history: true,
      	center: true,

      	theme: Reveal.getQueryHash().theme || 'simple', // available themes are in /css/theme
      	transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

      	// Optional libraries used to extend on reveal.js
      	dependencies: [
      		// { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
      		{ src: 'http://lab.hakim.se/reveal-js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: 'http://lab.hakim.se/reveal-js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: 'https://revealjs.com/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          {src: 'https://mikemiles86.github.io/reveal-line-numbers/plugin/line-numbers/line-numbers.js'},
          
          { src: 'https://rawgithub.com/hakimel/reveal.js/3.6.0/plugin/notes/notes.js', async: true }
      		// { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      		// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
      		// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
      	]
      });
