---
layout: default
---
<div id="post">
    <h2>
        <a href="{{ page.url}}">{{ page.title }}</a>
        <div class="date">{{ page.date | date_to_string }}</div>
    </h2>
    {{ content }}
    <div class="clear"></div>
    <div class="left">
      <table class="post-social-share">
        <tr>
          <td>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="{{ page.title }}" data-via="bgusiev" data-url="{{site.url}}{{page.url}}">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </td>
          <td>
            <div class="fb-like" data-href="{{site.url}}{{page.url}}" data-send="false" data-layout="button_count" data-width="25" data-show-faces="true"></div>
          </td>
        </tr>
      </table>
    </div>

    {% include tags.html %}
    <div id="related">
        <h3>Related Posts</h3>
        <ul class="posts">
            {% for post in site.related_posts limit:4 %}
              {% if page.title != post.title%} <!-- Exclude self -->
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'gusiev'; // required: replace example with your forum shortname

    //var disqus_identifier = '{{ page.url }}';
    //var disqus_url = '{{ site.url }}{{ page.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</div>

